<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::menu"></div>

<body>
<div class="layout">
<table border="1" align="center" width="400" style="text-align:center">
  <thead>
      <tr>
        <th>카페 이름</th><th>지역</th><th>타입</th><th>필터</th><th>메뉴</th><th>소개</th><th>메인사진</th><th>서브사진1</th><th>서브사진2</th>
      </tr>
  </thead>
  <tbody>
      <tr th:each="list : ${list}">
            <td>
              <a th:text="${list.cname}" th:href="@{/cafedetail(id=${list.id})}" ></a>
            </td>
            <td th:text="${list.carea}"></td>
            <td th:text="${list.ctype}"></td>
            <td th:text="${list.cfilter}"></td>
            <td th:text="${list.cmenu}"></td>
            <td th:text="${list.cintro}"></td>
            <td>
              <img th:src="@{/image/}+${list.cphoto1}" width="200" height="200">
            </td>
            <td>
              <img th:src="@{/image/}+${list.cphoto2}" width="200" height="200">
            </td>
            <td>
              <img th:src="@{/image/}+${list.cphoto3}" width="200" height="200">
            </td>
       </tr>
  </tbody>
</table>
  <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page != nowPage}" th:href="@{/out(page = ${page - 1})}" th:text="${page}"></a>
    <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
  </th:block>
</div>
</body>

</html>