<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::menu"></div>

<body>
<div class="layout2">
  <p>
    <img th:src="@{/image/}+${cafe.cphoto1}" width="200" height="200">
    <img th:src="@{/image/}+${cafe.cphoto2}" width="200" height="200">
    <img th:src="@{/image/}+${cafe.cphoto3}" width="200" height="200">
  </p>
  <p th:text="${cafe.cname}"> </p>
  <p th:text="${cafe.cintro}"> </p>
  <p th:text="${cafe.carea}" ></p>
  <p th:text="${cafe.ctype}"></p>
  <p th:text="${cafe.cfilter}"></p>
  <p th:text="${cafe.cmenu}"></p>

  댓글<br>
  <form th:action="@{/review}" method="post" enctype="multipart/form-data">
    <input type="file" multiple="multiple" name="rphoto1"><br>
    <input type="text" name="rdate"><br>
    <textarea name="rcontent"></textarea><br>
    <input type="text" name="rscore"><br>
    <input type="text" name="rlike">
    <input type="submit" value="댓글달기">
  </form>
</div>
</body>

</html>