<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::menu"></div>
<body>
    <div class="wrap">
        <div class="search_area">
            <form th:action="@{/search}" method="get">
                <section>
                    <span><i class="fas fa-search"></i></span>
                </section>
                <input type="text" name="keyword" placeholder="카페명을 검색해주세요.">
                <button type="submit">검색</button>
            </form>
        </div>

        <div class="thema">
            <ul>
                <li><a href="#" alt="사진맛집">1</a></li>
                <li><a href="#" alt="베이커리맛집">2</a></li>
                <li><a href="#" alt="뷰맛집">3</a></li>
                <li><a href="#" alt="애견동반">4</a></li>
            </ul>
        </div>


    </div>
</div>
</body>

</html>