<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::menu"></div>
<body>
    <div class="wrap">
        <div class="search_area">
            <form th:action="@{/search}" method="get">
                <section>
                    <span><i class="fas fa-search"></i></span>
                </section>
                <input type="text" name="keyword" placeholder="카페명을 검색해주세요.">
                <button type="submit">검색</button>
            </form>
        </div>

        <div class="thema">
            <ul>
                <li><a href="/typelist?ctype=사진맛집">사진맛집</a></li>
                <li><a href="/typelist?ctype=베이커리맛집">베이커리맛집</a></li>
                <li><a href="/typelist?ctype=뷰맛집">뷰맛집</a></li>
                <li><a href="/typelist?ctype=커피맛집">커피맛집</a></li>
            </ul>
        </div>


    </div>
</div>
</body>

</html>