<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="header::menu"></div>
<body>
    <div class="wrap">
        <div class="search_area">
            <form th:action="@{search}" method="post">
                <section>
                    <span><i class="fas fa-search"></i></span>
                </section>
                <input type="text" name="searchKeyword">
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>